.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 25px 0 0;
    background-color: var(--primary);
    max-height: 75px;
    grid-column: 1/7;
}

.nav a{
    text-decoration: none;
    color: white;
    margin-right: 16px;
}